.choose-directions-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choose-directions-form h3 {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 300;
  color: $dark-gray;
}

.choose-directions-form button {
  font-size: 16px;
  font-weight: 300;
  margin: 5px 0;
  width: 306px;
  height: 40px;
  border-radius: 5px;
  background-color: #fff;
}

.choose-directions-form button:hover {
  cursor: pointer;
  background-color: $green;
  opacity: 0.5;
}

.choose-directions-form button.selected:hover {
  opacity: 1;
}

.choose-directions-form button.selected {
  color: #fff;
  background-color: $green;
}
