.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.results-box {
  width: 340px;
	height: 200px;
  margin: 20px 0 20px;
	background-color: #ffffff;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
}

.start-end-labels {
  position: relative;
  width: 170px;
}

.start {
  position: absolute;
  top: 15px;
	font-size: 18px;
  text-align: right;
  width: 100%;
}

.dest {
  position: absolute;
  bottom: 27px;
	font-size: 14px;
  text-align: right;
	color: $light-grey;
  width: 100%;
}

.unlikely {
	font-size: 18px;
	font-weight: 300;
	color: #d0021b;
}

.likely {
	font-size: 18px;
	font-weight: 300;
	color: #30a62c;
}

.time-display {
  padding: 15px 20px;
}

.time-label {
	font-size: 9px;
	color: $light-grey;
}

.time-num {
	font-size: 36px;
	font-weight: 300;
}

.time-type {
	font-size: 18px;
	font-weight: 300;
	color: $light-grey;
}

.person-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.standing-person-icon {
  background: image-url('standing_person.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin-bottom: 10px;
}

.sitting-person-icon {
  background: image-url('sitting_person.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin-bottom: 10px;
}

/* upstream */

.upstream-transfer {
  position: absolute;
  top: 15px;
	font-size: 18px;
  text-align: right;
  width: 100%;
	color: #4a4a4a;
}

.upstream-start {
  position: absolute;
  top: 86px;
	font-size: 18px;
  text-align: right;
  width: 100%;
}

.upstream-dest {
  position: absolute;
  bottom: 21px;
	font-size: 14px;
  text-align: right;
  width: 100%;
	color: $light-grey;
}
